.h1 a:link, a:visited {
    background-color: blue;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


.h1 a:hover, a:active {
    background-color: lightblue;
}

.h2 a:link {
	color: blue;
    text-decoration: none;
    padding: 17px 25px;
}

.h2 a:visited {
	color: blue;
    text-decoration: none;
}

.h2 a:hover {
	color: lightblue;
    text-decoration: underline;
}

.h2 a:active {
	color: lightblue;
    text-decoration: underline;
}



.footer {
    padding-top: 50px;
}

.contact a:link {
    color: grey;
    text-decoration: none;
    padding: 17px 25px;
}

.contact a:visited {
    color: grey;
    text-decoration: none;
}

.contact a:hover {
    color: black;
    text-decoration: underline;
}

.contact a:active {
    color: black;
    text-decoration: underline;
}

.oh a:link {
    color: grey;
    text-decoration: none;
    padding: 17px 25px;
}

.oh a:visited {
    color: grey;
    text-decoration: none;
}

.oh a:hover {
    color: black;
    text-decoration: underline;
}

.oh a:active {
    color: black;
    text-decoration: underline;
}
