h1 {text-align: center; 
	padding-top: 150px;
	padding-bottom: 50px;
	color: red;
}

h3ß {
    position: relative;
    left: 500px;
	top: 50px;
}

ul {
	position: relative;
	left: 520px;
	top: 15px;
}