h1 {
	padding-left: 225px;
	padding-bottom: 50px;
	font-family: "Times New Roman", Times, serif;
	color: lightblue;
	font-size: 50px;
}

.container {
	margin: auto;
}

.left {
	float: left;
	padding-left: 30px;
	padding-bottom: 75px;
}

.right {
	float: left;
	padding-left: 20px;
}


h2 a:link, a:visited {
    background-color: blue;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


h2 a:hover, a:active {
    background-color: lightblue;
}


ul {
	position: relative;
	left: 20px;
	top: 8px;
	bottom: 15px;
}

.contact a:link, a:visited {
    background-color: grey;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


h2 a:hover, a:active {
    background-color: black;
}