h1 {text-align: center; 
	padding-top: 75px;
	padding-bottom: 75px;
	font-family: "Times New Roman", Times, serif;
	color: blue;
}

.container {
	margin: auto;
}

.left {
	float: left;
	padding-right: 50px;
}

.right {
	float: right;

}


h3 a {
	text-decoration: none;
	color: blue;
}

ul {
	position: relative;
	left: 20px;
	top: 15px;
}

.contact a {
	text-decoration: none;
	color: grey;
}