<!DOCTYPE html>

<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Sining Qin" />
</head>
<body>

<!-- ClickTale Top part -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>
<!-- ClickTale end of Top part -->

<div class="header">
  <div class="title">
    <a href="/">Sining Qin</a>
    <a class="About" href="/">About Me</a>
    <a class="Projects" href="/">Projects</a>
    <a class="Notes" href="/">Notes</a>
    <a class="Life" href="/">Life</a>
  </div>

  {{ content }}

  <!-- ClickTale Bottom part -->
<div id="ClickTaleDiv" style="display: none;"></div>
<script type="text/javascript">
if(document.location.protocol!='https:')
  document.write(unescape("%3Cscript%20src='http://s.clicktale.net/WRb.js'%20type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
if(typeof ClickTale=='function') ClickTale(206,0.3,"www03");
</script>
<!-- ClickTale end of Bottom part -->


  <div class="footer">
    <div class="contact">
      <p>
        Sining Qin
        <br />
        sining.qin@mail.utoronto.ca
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/qsnsidney/">GitHub</a><br />
        <a href="https://www.linkedin.com/in/sining-qin-a05281123">LinkedIn</a><br />
        <a href="https://www.instagram.com/qsnsidney/">Instagram</a><br />
      </p>
    </div>
  </div>
</div>

<!--<a href="http://github.com/mojombo"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>-->


</body>
</html>