<!DOCTYPE html>

<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Sining Qin" />
   <link rel="stylesheet" type="text/css" href="qsnsidney.github.io/css/hf.css">
</head>


<body>

<div class="header">
  <div class="h1">
      <a href="/">Sining | Home</a>
  </div>


   <br>
   <br>
  <div class="h2">
      <a href="/_posts/AboutMe">About Me</a>
      <a href="/images/Portfolio_SiningQin.pdf">Projects</a>
      <a href="/Notes.thml">Notes</a>
      <a href="/Life.html">Life</a>
  </div>
</div>


<div>
  {{ content }}
</div>


<div class="footer">
  <div class="contact">
    <p>
      <a href="mailto:sining.qin@mail.utoronto.ca">sining.qin@mail.utoronto.ca</a><br>
      <a href="http://github.com/qsnsidney/">GitHub</a><br />
      <a href="https://www.linkedin.com/in/sining-qin-a05281123">LinkedIn</a><br />
    </p>
  </div>
</div>




</body>
</html>
